<!DOCTYPE html>
    <html lang="en">
        <head>
            <style>
                .bg-img {
                    /* The image used */
                    background-image: url("/assets/background_login2.jpg");

                    min-height: 650px;

                    /* Center and scale the image nicely */
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;
                }

                /* Full-width input fields */
                
                .box_login{
                    position: relative;
                    margin-top: 100px;
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;
                    min-width: 300px;
                    max-width: 450px;
                    padding: 4%;
                    border: 2px solid #d9e4f4;
                    background-color: #d9e4f4;
                }
                * {
                    box-sizing: border-box;
                }
                #notice{
                    background-color: #db5560;
                    padding: 10px;
                    color: white;
                }
            </style>
        </head>
        <body>
            <%= render '/welcome/navbarStaticPages' %>
            <div class="bg-img">
                <br><br><br>
                <div class="container">
                    
                    <div class="col-md-4 col-sm-4 col-xs-12 col-xs-offset-1 col-sm-offset-0">
                        <img src="/assets/redox_logo.png" style="width:280px; height:251px; display:block; margin:auto; margin-top: 150px;">
                    </div>
                    <div class="col-md-8 col-sm-7 col-xs-12 ">
                        <div class="box_login">
                            <% if flash[:alert] %>
                                <p id="notice"><%= flash[:alert] %></p>
                            <% end %>
                            <h4 style="text-align: center;">Welcome to Redox Realty Group</h4>
                            <%= form_for(:session, url: login_path) do |f| %>
                                <%= f.label :email %>
                                <%= f.email_field :email, class: 'form-control' %>
                                <br>
                                <%= f.label :password %>
                                <%= f.password_field :password, class: 'form-control' %>
                        
                                <div class="checkbox">
                                    <label><input type="checkbox" checked="checked" name="remember"> Remember me</label>
                                </div>
                                <%= f.submit "Login", class: "btn btn-success btn-block" %>
                                <br><span class="psw"> <a href="#">Forgot password?</a></span>

                            <% end %>
                        </div>
                    </div>  
                </div>
            </div>
            <%= render '/welcome/footerStaticPages' %>
        </body>
    </html>